## Question:
#### Print numbers from 1 to 10 using a for loop.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Question:
#### Print even numbers between 1 to 10 using a while loop.

In [10]:
x = 1
while x <= 10:
    if x %2 == 0 :
        print(x)
    x +=1

2
4
6
8
10

### Question:
#### You have a list: colors = ["red", "green", "blue"]
#### Print each color in uppercase (like RED, GREEN, etc).

In [3]:
colors = ["red", "green", "blue"]
for color in colors:
    print(color.upper())

RED
GREEN
BLUE

### Question:
#### You have a dictionary of a product:

In [6]:
product = {"name": "Laptop", "price": 75000, "brand": "Dell"}

for key ,value in product.items():
    print(f"{key} : {value}")

name : Laptop
price : 75000
brand : Dell

### Question:
#### Use a loop to print numbers from 1 to 10.
#### Stop the loop if the number is 6.

In [7]:
for i in range(1,11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

### Question:
#### Print numbers from 1 to 5, but skip 2 using continue.

In [8]:
for i in range(1,6):
    if i == 2:
        continue
    print(i)

1
3
4
5

### Question:
#### Print the multiplication table of 5 using a nested loop format like this:

In [ ]:
tables = int(input("Enter number than print table: "))
for i in range(1, 11):
    print(f"{tables} X {i} = {tables*i}")

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30